# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/BetterHealthProject/__pycache__/
/patient/__pycache__/
/patient/migrations/__pycache__/

