{% extends 'base.html' %}
{% block title %}Programar Nueva Cita{% endblock %}
{% block content %}
<div class="container">
    <h1 class="page-title">Programar Nueva Cita</h1>

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% else %}alert-info{% endif %}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="servicio">Selecciona un servicio</label>
                    {{ form.servicio }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fecha">Selecciona la fecha de la cita</label>
                    {{ form.fecha }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="hora">Selecciona la hora de la cita</label>
                    {{ form.hora }}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Guardar cita</button>
    </form>
</div>
{% endblock %}