name: Runchart Analysis

on:
  schedule:
    - cron: "0 0 * * 1"  # Se ejecuta cada lunes a las 00:00 UTC
  workflow_dispatch:  # Permite ejecuci칩n manual

permissions:
  contents: write

jobs:
  generate-report:
    runs-on: ubuntu-latest

    steps:
      - name: 游닌 Clonar el repositorio
        uses: actions/checkout@v4

      - name: 游깴 Instalar localizaci칩n en espa침ol
        run: |
          sudo apt-get update
          sudo apt-get install -y locales
          sudo locale-gen es_ES.UTF-8
          sudo update-locale LANG=es_ES.UTF-8
          export LANG=es_ES.UTF-8
          export LC_ALL=es_ES.UTF-8

      - name: 游냀 Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: 游닍 Instalar dependencias
        run: pip install requests matplotlib

      - name: 游늵 Ejecutar el script de generaci칩n de gr치ficos
        run: python .github/scripts/runchart.py  # Ajusta la ruta si es necesario

      - name: 游늭 Mover gr치ficos a la carpeta reports/
        run: |
          mkdir -p reports
           mv grafico_historial/*/*.png reports/

      - name: 游닇 Hacer commit y push de los gr치ficos
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add reports/
          git commit -m "游늵 Actualizar gr치ficos de issues - Semana $(date +'%V %B')" || echo "Sin cambios para commitear"
          git push
        continue-on-error: true

      - name: 游닋 Subir gr치ficos como artifacts
        uses: actions/upload-artifact@v4
        with:
          name: report-images
          path: reports/
